@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.cardContainer{
    background-color: #EDEFEE;
    width: 18%;
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px;
    margin: 20px;
}
.cardContainer img{
    width: 100%;
    height: 170px;
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 
}
.cardContainer p{
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    padding: 5px;
}
.cardContainer button{
    margin: 15px;
    padding: 8px;
    font-size: 12px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: #ffffff;
    width: 40%;
    cursor: pointer;
}
.cardContainer button:hover{
    background-color: #EE9972;
    -webkit-text-fill-color: #000000;
    transition: 0.2s;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}
.title h5{
    font-size: medium;
}
.price{
    color: #EE9972;
}
@media screen and (max-width: 1148px) {
    .cardContainer{
        width: 21%;
    }
}
@media screen and (max-width: 906px) {
    .cardContainer{
        width: 28%;
    }
    .title h5{
        font-size: small;
    }
    .cardContainer p{
        font-size: 12px;
    }
    .cardContainer button{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .cardContainer{
        width: 100%;
        border-top-right-radius: 0; 
        border-top-left-radius: 0;
        margin: 0;
        border-bottom: 1px solid #000000; 
    }
    .title{
        margin: 20px;
    }
    .title h5{
        font-size: large;
    }
    .cardContainer p{
        font-size: 15px;
        margin: 20px;
    }
    .cardContainer button{
        width: 25%;
        margin: 25px;
    }
    .cardContainer img{
        display: none;
    }
}