@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.topSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 488px;
    left: 0px;
    background: #495E57;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shortIntro {
    margin: 50px;
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

.shortIntro h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: left;
    color: #F4CE14;
}

.shortIntro h4 {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
}

.shortIntro h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
}

.table {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    border: none;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #F4CE14;
    border-radius: 50px;
}

.table:hover {
    background-color: #333333;
    transition: 0.2s;
    -webkit-text-fill-color: #FFFFFF;
}

.topSection img {
    border: 1.5px solid #F4CE14;
    border-radius: 25px;
    width: 520px;
    height: 550px;
    margin-right: 100px;
    margin-top: 240px;
}

.menuu {
    display: flex;
    flex-direction: row;
    margin: 150px 100px 20px 100px;
    justify-content: space-between;
    align-items: center;
}

.menuu h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}
.menuu button {
    width: 15%;
    margin-top: 20px;
    height: 50px;
    background-color: #F4CE14;
    border-radius: 25px;
    font-size: large;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.menuu button:hover {
    background-color: #333333;
    transition: 0.2s;
    -webkit-text-fill-color: #FFFFFF;
}
.cardsMain{
    align-items: center;
    justify-content: center;
}
.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 1148px) {
    .shortIntro h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .shortIntro h4 {
        font-size: 25px;
    }

    .shortIntro h5 {
        font-size: 20px;
        line-height: 25px;
    }
    .menuu h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 906px) {
    .shortIntro {
        margin-left: 80px;
    }
    .menuu {
        margin: 20px 100px 20px 80px;
    }
    .menuu button{
        width: 20%;
    }
    .topSection img {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .menuu{
        justify-content: center;
    }
    .menuu button{
        display: none;
    }
    .menuu h1{
        font-size: 45px;
    }
    .Cards{
        flex-direction: column;
    }
    .table {
        width: 140px;
        font-size: 14px;
    }
    .shortIntro h5{
        font-size: 16px;
    }
    .shortIntro {
        margin: 30px 30px 30px 30px;
    }
}