@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.mainBooked{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booked{
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.booked h3{
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}
.booked h4 {
    padding: 10px;
    padding-right: 100px;
    font-size: 18px;
    font-weight: 300;
}